[defaults]
# Use local hosts file in this folder
inventory=./hosts
# Dont worry about RSA fingerprints
host_key_checking = False
# Do not create retry files
retry_files_enabled = False
# Hide deprecation warnings
deprecation_warnings = False